.table-root {
  /* width: 100%; */
}

.table-root.wide {
  width: 100%;
}

.table-root,
.table-root tr,
.table-root td {
  border: 1px solid black;
  border-collapse: collapse;
}
.table-root td {
  height: 50px;
}

.table-root td.bold{
  font-weight: 900;
}
 .background{
  background-color: blue;
}
